<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>
        hello <%= ID %>
        <br/>
        the legth of the name is <%= ID.length %>
        </h1>
    </body>
</html>
