<html ng-app="TestApp">
    <head>
        <title>The MEAN stack</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js">
        </script>
    </head>
    <body ng-controller="Main Controller as vm">
    </body>
</html>